# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
.flattened-pom.xml

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# vscode ignore
.vscode/

# temp ignore
*.log*
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db


ui/dist
ui/node
ui/node-modules
ui-vue3/node_modules
ui-vue3/pnpm-lock.yaml
coverage.txt

bin/
build/
vendor/

# dubbo cp cache
app/dubbo-cp/cache
