<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<body>
<session class="content" layout:fragment="content">
    <div class="col-lg-12">
        <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab">Tab 1</a></li>
                <li><a href="#tab_2" data-toggle="tab">Tab 2</a></li>
                <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <form id="service-form" action="#" method="get" onsubmit="">
                        <div class="input-group">
                            <input id="search-by-service" type="text" name="app" class="form-control input-lg" placeholder='请输入服务名' />
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="button" onclick="">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab_2">
                    <form id="app-form" action="#" method="get" onsubmit="">
                        <div class="input-group">
                            <input id="search-by-app" type="text" name="app" class="form-control input-lg" placeholder='请输入应用名' />
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="button" onclick="">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="tab_3">
                    <form id="ip-form" action="#" method="get" onsubmit="">
                        <div class="input-group">
                            <input id="search-by-ip" type="text" name="app" class="form-control input-lg" placeholder='请输入ip地址' />
                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="button" onclick="">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">搜索结果</h3>
            </div>
            <div class="box-body">
                <table id="search-result" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>服务名</th>
                        <th>组别</th>
                        <th>应用名</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Trident</td>
                        <td>Internet
                            Explorer 4.0
                        </td>
                        <td>Win 95+</td>
                        <td> 4</td>
                    </tr>
                    <tr>
                        <td>Trident</td>
                        <td>Internet
                            Explorer 5.0
                        </td>
                        <td>Win 95+</td>
                        <td>5</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</session>
</body>
</html>