<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <aside th:fragment="navLeft" class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="active">
                    <a href="pages/widgets.html">
                        <i class="fa fa-th"></i> <span>服务查询</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>服务治理</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i>路由规则</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>动态配置</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>访问控制</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>权重调节</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>负载均衡</a></li>
                    </ul>
                </li>
                <li>
                    <a href="pages/widgets.html">
                        <i class="fa fa-th"></i> <span>单机运维</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>服务信息</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>版本分布</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>访问控制</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>权重调节</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>负载均衡</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

</body>
</html>