apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: dubbo-admin
  name: dubbo-admin
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dubbo-admin
  template:
    metadata:
      labels:
        app: dubbo-admin
    spec:
      containers:
      - image: apache/dubbo-admin:latest
        name: dubbo-admin
        ports:
          - containerPort: 38080
        volumeMounts:
        - mountPath: /config
          name: application-properties
      volumes:
      - name: application-properties
        configMap:
          name: dubbo-admin