HTTPS_PROXY=http://127.0.0.1:7890                                
HTTP_PROXY=http://127.0.0.1:7890

GEMINI_API_KEY=YOUR_API_KEY
SILICONFLOW_API_KEY=YOUR_API_KEY
DASHSCOPE_API_KEY=YOUR_API_KEY
PINECONE_API_KEY=YOUR_API_KEY
COHERE_API_KEY=YOUR_API_KEY