<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:replace="common/headerStyle :: headerStyle"/>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
           <nav class="navbar navbar-static-top">
               <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                   <span class="sr-only">Toggle navigation</span>
               </a>
           </nav>
        </header>
        <div th:replace="common/navLeft :: navLeft"/>

        <div class="content-wrapper" >
            <!--<div th:replace="common/headerBar :: headerBar" />-->

            <section class="content-header" layout:fragment="content-header" />
            <session class="content" layout:fragment="content" />

            <!--<div th:replace="common/footer :: footer" />-->
        </div>
    </div>

    </body>
</html>